[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyltsv = {editable = true,extras = ["dev", "linter"],path = "."}
# flake8.exceptions.FailedToLoadPlugin: Flake8 failed to load plugin "BLK" due to No module named 'typed_ast'.
typed-ast = "*"

[pipenv]
allow_prereleases = true

[scripts]
check = "make check"
isortify = "make isortify"
blacken = "make blacken"
